<div class="container">
  <div class="row">
    <div class="col-md-3"*ngFor="let item of chartOptions.data; let i=index;">
      <a href="#" [routerLink]="['/clients', item.clientId,'overview']">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a>Client {{i+1}}</a></h5>
            <div style="display: block">
              <canvas mdbChart
                [chartType]="item.chartType"
                [data]="item.chartData"
                [labels]="item.chartLabels"
                [colors]="item.chartColors"
                [options]="item.chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
