<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img class="card-img-top" src="http://placeholder.pics/svg/200" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <p class="h4">Tangent Solutions</p>
          <p>
            <i class="fa fa-university"></i> The Campus, Carisbrook Building, Ground Floor, 57 Sloane Street, Bryanston,
            South Africa</p>
          <p>
            <i class="fa fa-address-book"></i> contact@tangentsolutions.co.za
          </p>
          <p>
            <i class="fa fa-phone-square"></i> +27 11 463 7844
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div style="display: block">
            <canvas mdbChart
                    [chartType]="chartOptions.chartType"
                    [data]="chartOptions.chartData"
                    [labels]="chartOptions.chartLabels"
                    [colors]="chartOptions.chartColors"
                    [options]="chartOptions.chartOptions"
                    [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 text-right">
      <a class="btn btn-danger btn-sm" href="#" [routerLink]="['/clients', chartOptions.clientId, 'edit']"><i
        class="fa fa-edit"></i> Edit</a>
    </div>
  </div>
</div>
